@model PeopleViewModel

<h1>Personer</h1>
<div>
    <div class="row">
        <div class="col-2">
            Namn
        </div>
        <div class="col-2">
            Telefonnummer
        </div>
        <div class="col-2">
            Stad
        </div>
        <div class="col-2">
            Id
        </div>
    </div>

    @foreach (Person p in Model.People)
    {
        <div class="row">
            <div class="col-2">
                @p.Name
            </div>
            <div class="col-2">
                @p.PhoneNumber
            </div>
            <div class="col-2">
                @p.City
            </div>
            <div class="col-2">
                @p.Id
            </div>
        </div>
    }

    Person with ID id was deletet
   
   
</div>