@model PeopleViewModel


<div id="create">
    <h1>Create</h1>

    <form asp-action="Create" method="post">
        <div asp-validation-summary="All"></div>
        <p>
            <label asp-for="CreatePersonViewModel.Name"></label>
            <input asp-for="CreatePersonViewModel.Name" />
        </p>
        <p>
            <label asp-for="CreatePersonViewModel.PhoneNumber"></label>
            <input asp-for="CreatePersonViewModel.PhoneNumber" />
        </p>
        <p>
            <label asp-for="CreatePersonViewModel.City"></label>
            <input asp-for="CreatePersonViewModel.City" />
        </p>
        <button type="submit">Skapa Person</button>
        <button type="reset">Rensa</button>
    </form>
</div>

<div id="peopleList">


</div>

<a asp-controller="Home" asp-action="PeopleList" data-target="peopleList" id="people" >People</a>
<a asp-controller="Home" asp-action="Delete" data-target="peopleList" id="delete" asp-route-id="1">Delete</a>
<a asp-controller="Home" asp-action="Details" data-target="peopleList" id="details" asp-route-id="1">Details</a>
<input type="text" id="findId" />
<script>
    init();
</script>
